/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  */

      html, body {
      min-height: 100%;
      background-size: 100%;
      background-image: url('brick.jpg');
      }
      body, div, form, input, select, textarea, label, p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
    }

    .fibHub2 {
      color: red;
    }

      h1 {
      position: absolute;
      margin: 0;
      font-size: 50px;
      color: #fff;
      z-index: 2;
      text-transform: uppercase;
      margin-bottom: 2rem;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 10%;
      }
      form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 8px  #669999;
      }
      .banner {
      position: relative;
      height: 300px;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background-color: #0000e6;
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      input[type="date"] {
      padding: 4px 5px;
      }
      textarea {
      width: calc(100% - 12px);
      padding: 5px;
      }
      .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color:  #669999;
      }
      .item input:hover, .item select:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 3px 0  #669999;
      color: #669999;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      .item span {
      color: red;
      }
      .week {
      display:flex;
      justfiy-content:space-between;
      }
      .colums {
      display:flex;
      justify-content:space-between;
      flex-direction:row;
      flex-wrap:wrap;
      }
      .colums div {
      width:48%;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color:  #a3c2c2;
      }
      .item i {
      right: 1%;
      top: 30px;
      z-index: 1;
      }
      input[type=radio], input[type=checkbox]  {
      display: none;
      }
      .question-answer label.radio {
      position: relative;
      display: inline-block;
      margin: 5px 20px 15px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      .question-answer label {
      display: block;
      }
      .question-answer label.radio:before {
      content: "";
      position: absolute;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 2px solid #ccc;
      }
      input[type=radio]:checked + label:before, .question-answer label.radio:hover:before {
      border: 2px solid  #669999;
      }
      .question-answer label.radio:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 4px;
      border: 3px solid  #669999;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      .flax {
      display:flex;
      justify-content:space-around;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background:  #669999;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background:  #a3c2c2;
      }
      @media (min-width: 568px) {
      .name-item, .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input, .name-item div {
      width: calc(50% - 20px);
      }
      .name-item div input {
      width:97%;}
      .name-item div label {
      display:block;
      padding-bottom:5px;
      }
      }

      .center-question {
        text-align: center;
        width: 100%;
      }

      .center-options {
        display: inline-block;
      }

      .checkboxes {
        text-align: center;
        padding-left: 47%;
        padding-right: 43%;
      }

      .kids-ages-options li {
        display: inline-block;
        font-size: 20px;
        padding: 20px;
      }

      .kids-options {
        padding-right: 2.5%;
      }

      .income-checkboxes li {
        display: inline-block;
        padding-left: 45%;
        padding-right: 40%;
        width: 100%;
      }

      .inline {
        padding-right: 2.5%;
        text-align: center;
      }

      .inline-options div {
        display: inline-block;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .equity-options div {
        display: inline-block;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
      }

      .navbar {
    background-color: #0000e6;
    height: 100px;
    overflow: visible;
  }

.navbar-title {
  color: white;
  text-align: center;
  padding-left: 50%;
  padding-bottom: 15px;
  text-decoration: none;
  padding-top:175px;
  margin-top: 50px;
  text-transform: none;
}

.navbar-options {
  text-align: right;
  padding-right: 5%;
  color: limegreen;
}

.experience-years {
  padding-right: 38px;
}

.client-amount div {
  display: inline-block;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.short-input-bar {
  width: 30%;
}

.avg-input-bar {
  width: 50%;
}

.center-input {
  text-align: center;
}

.advisor-client-box {
  text-align:center;
  font-size: 50px;
  width: 70%;
  height: 300px;
  margin-top: 75px;
}

.advisor-client-question {
  font-size: 50px;
  margin-top: 25px;
  color: #0000e6;
}

.client-box {
  border: 3px solid;
  padding: 30% 30%;
  position: relative;
  top: 240px; left: 0px;
  text-align:center;
  background-color: #0000e6;
  color: white;
  text-decoration: none;
  font-size: 75px;
  margin-top: 50px;
  border-radius: 25px;
  font-family:Roboto, Arial, sans-serif
}

.advisor-box {
  border: 3px solid;
  padding: 30% 25%;
  position: relative;
  top: 240px; left: 0px;
  text-align:center;
  background-color: #0000e6;
  color: white;
  text-decoration: none;
  font-size: 75px;
  margin-top: 50px;
  border-radius: 25px;
  font-family:Roboto, Arial, sans-serif
}

.client-income-input {
  width: 30px;
  margin-left: 30px;
}

.individual-securities-input {
  margin-top: 15px;
  width:15%;
}

.navbar-selections {
  a:link, a:visited {
    font-size: 15px;
    background-color: #0000e6;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    font-size: 15px;
    background-color: grey; opacity: .5;
    border: 2px solid white; opacity: 1;
    color: white; opacity: 1;
  }
}

.match-link {
  a:link, a:visited {
    font-size: 50px;
    color: white;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 40%; left: 0%;
    border-radius: 25px;
    opacity: 1;
  }

  a:hover, a:active {
    font-size: 50px;
    background-color: grey; opacity: .5;
    border: 2px solid white; opacity: 1;
    color: white; opacity: 1;
  }
}

 a.advisor-box:hover, a.client-box:hover {
  background-color: grey; opacity: .5;
  color: white;
  text-decoration: none;
}

.view-advisor {
  color: white;
  padding: 5%;
  width:75%;
  text-align:center;
  background-color: #0000e6;
  text-decoration: none;
  font-size: 40px;
  border-radius: 25px;
  font-family:Roboto, Arial, sans-serif
}

//USER TILE

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300';

$padding:15px;

* { box-sizing: border-box; }

.container {
  /* Styling */
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  /* Center it */
  position: relative;
  left: 27.5%;
  margin-bottom: 200px;
}
.card {
  /* Styling */
  width: 700px;
  height: 200px;
  background: #0000e6;
}


/* Flip the card on hover */


/* Front styling */
.logo {
  position: relative;
  margin-top: 15px;
  outline: 1px solid #3b3b3b;
  display: inline-block;
  padding: 15px 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 8px;
}

/* Back styling */

.info {
  position: relative;
  text-align: center;
  margin-left: 5%;
  color: white;
}
.property {
  color: #fff;
}


/*
=====
DEMO DEPENDENCIES
=====
*/

/* The component will reset button browser styles */

.r-button{
  --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
  --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
  --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
  --uirButtonBorderStyle: var(--rButtonBorderWidth, solid);
  --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
  --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
  --uirButtonFontSize: var(--rButtonFontSize,  inherit);
  --uirButtonColor: var(--rButtonColor);

  background-color: var(--uirButtonBackgroundColor);
  padding: var(--uirButtonPadding);

  border-width: var(--uirButtonBorderWidth);
  border-style: var(--uirButtonBorderStyle);
  border-color: var(--uirButtonBorderColor);

  cursor: pointer;

  font-family: var(--uirButtonFontFamily);
  font-size: var(--uirButtonFontSize);
}

.r-button::-moz-focus-inner,
.r-button[type="button"]::-moz-focus-inner,
.r-button[type="reset"]::-moz-focus-inner,
.r-button[type="submit"]::-moz-focus-inner {

  /* Remove the inner border and padding in Firefox. */

  border-style: none;
  padding: 0;
}

/* The component will reset browser's styles of link */

.r-link{
  --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  display: var(--uirLinkDisplay) !important;
  color: var(--uirLinkTextColor) !important;
  text-decoration: var(--uirLinkTextDecoration) !important;
}

/*
=====
CORE STYLES
=====
*/

.ai-element{
	--uiaiElementDisplay: var(--aiElementDisplay, inline-flex);
	--uiaiElementPadding: var(--aiElementPadding, var(--aiElementPaddingTop, 0) var(--aiElementPaddingRight, 0) var(--aiElementPaddingBottom, 0) var(--aiElementPaddingLeft, 0));
	--uiaiElementColor: var(--aiElementColor);

	display: var(--uiaiElementDisplay);
	position: relative;
	overflow: scroll;
}

a.ai-element{
	padding: var(--uiaiElementPadding);
}

button.ai-element22{
	--rButtonPadding: var(--uiaiElementPadding);
}

.ai-element22{
	--uiaiElementDisplay: var(--aiElementDisplay, inline-flex);
	--uiaiElementPadding: var(--aiElementPadding, var(--aiElementPaddingTop, 0) var(--aiElementPaddingRight, 0) var(--aiElementPaddingBottom, 0) var(--aiElementPaddingLeft, 0));
	--uiaiElementColor: var(--aiElementColor);

	display: var(--uiaiElementDisplay);
	position: relative;
	overflow: scroll;
}

a.ai-element22{
	padding: var(--uiaiElementPadding);
}

button.ai-element22{
	--rButtonPadding: var(--uiaiElementPadding);
}

.ai-element__label{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  z-index: 2;
  a:link, a:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    z-index: 2;
  }
}

.ai-element__label2{
  color: #0000e6;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  z-index: 2;
  a:link, a:visited {
    color: #0000e6;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    z-index: 2;
  }
}

.blue {
  color: #0000e6;
  font-weight: 700;
  text-transform: uppercase;
  a:link, a:visited {
    color: #0000e6;
  }
}
.white {
  color: #000;
  a:link, a:visited {
    color: white;
  }
}

//Styles of elements with the border on all sides

.ai-element_type1{
	--uiaiElementLineWeight: var(--aiElementLineWeight, 3px);
	--uiaiElementLineColor: var(--aiElementLineColor, #000);
}

.ai-element_type1::before,
.ai-element_type1::after{
	width: 100%;
	height: var(--uiaiElementLineWeight);
	left: 0;
  z-index: 2;
}

.ai-element_type1::before{
	top: 0;
  z-index: 2;
}

.ai-element_type1::after{
	bottom: 0;
  z-index: 2;
}

.ai-element_type1 .ai-element__label::before,
.ai-element_type1 .ai-element__label::after{
	width: var(--uiaiElementLineWeight);
	height: 100%;
	top: 0;
  z-index: 2;
}

.ai-element_type1 .ai-element__label::before{
	left: 0;
  z-index: 2;
}

.ai-element_type1 .ai-element__label::after{
	right: 0;
  z-index: 2;
}

.ai-element_type1::before,
.ai-element_type1::after,
.ai-element_type1 .ai-element__label::before,
.ai-element_type1 .ai-element__label::after{
	content: "";
	background-color: var(--uiaiElementLineColor);
	position: absolute;
	opacity: 1;
  z-index: 2;

	will-change: transform, opacity;
	transition-property: transform, opacity;
}

.option-box2 {
  position: absolute;
  right: 6%;
  top: 36%;
}

.option-box3 {
  position: absolute;
  left: 7%;
  top: 36%;
}

#optionbox {
  font-size: 50px;
}

.ai-element_type1:hover::before,
.ai-element_type1:hover::after,
.ai-element_type1:hover .ai-element__label::before,
.ai-element_type1:hover .ai-element__label::after{
	opacity: 0;
  z-index: 2;
}

.ai-element_type22{
	--uiaiElementLineWeight: var(--aiElementLineWeight, 3px);
	--uiaiElementLineColor: var(--aiElementLineColor, #0000e6);
}

.ai-element_type22::before,
.ai-element_type22::after{
	width: 100%;
	height: var(--uiaiElementLineWeight);
	left: 0;
  z-index: 2;
}

.ai-element_type22::before{
	top: 0;
  z-index: 2;
}

.ai-element_type22::after{
	bottom: 0;
  z-index: 2;
}

.ai-element_type22 .ai-element__label::before,
.ai-element_type22 .ai-element__label::after{
	width: var(--uiaiElementLineWeight);
	height: 100%;
	top: 0;
  z-index: 2;
}

.ai-element_type22 .ai-element__label::before{
	left: 0;
  z-index: 2;
}

.ai-element_type22 .ai-element__label::after{
	right: 0;
  z-index: 2;
}

.ai-element_type22::before,
.ai-element_type22::after,
.ai-element_type22 .ai-element__label::before,
.ai-element_type22 .ai-element__label::after{
	content: "";
	background-color: var(--uiaiElementLineColor);
	position: absolute;
	opacity: 1;
  z-index: 2;

	will-change: transform, opacity;
	transition-property: transform, opacity;
}

.ai-element_type22:hover::before,
.ai-element_type22:hover::after,
.ai-element_type22:hover .ai-element__label::before,
.ai-element_type22:hover .ai-element__label::after{
	opacity: 0;
  z-index: 2;
}


/*
Styles of elements with the bottom border
*/

.ai-element_type2{
	--uiaiElementLineWeight: var(--aiElementLineWeight, 2px);
	--uiaiElementLineColor: var(--aiElementLineColor, #000);
	--aiElementPaddingBottom: var(--uiaiElementLineWeight);

	position: relative;
}

.ai-element_type2::after{
	content: "";
	width: 100%;
	height: var(--uiaiElementLineWeight);
	background-color: var(--uiaiElementLineColor);

	position: absolute;
	left: 0;
	bottom: 0;
}

/*
Styles of elements with background
*/

.ai-element_type3 {
	--uiaiElementLineColor: var(--aiElementLineColor, #000);
	--uiaiElementPadding: var(--aiElementPadding, 10px);
	transition: color .3s ease-out;
	z-index: 1;
}

.ai-element_type3::before,
.ai-element_type3::after{
	content: "";
	background-color: var(--uiaiElementLineColor);
	opacity: 1;
	position: absolute;
	z-index: -1;

	transition: transform .35s ease-out, opacity .35s ease-out .03s;
}

.ai-element_type3:hover::before,
.ai-element_type3:hover::after{
	opacity: 0;
	transition-delay: 0s;
}

.ai-element_text::before{
	content: attr(data-ai-element-text);
	color: var(--uiaiElementColorHover);
	position: absolute;
}

.ai-element_text::before,
.ai-element_text .ai-element__label{
	transition-property: transform;
	transition-timing-function: cubic-bezier(.86, .6, .08, 1.01);
	transition-duration: .4s;
}

.ai-element_text:hover::before,
.ai-element_text:hover .ai-element__label{
	transition-duration: .3s;
}

/*
=====
EFFECTS
=====
*/

/* effect 1 */

.ai-element1::before,
.ai-element1::after,
.ai-element1 .ai-element__label::before,
.ai-element1 .ai-element__label::after{
	transform: translate3d(0, 0, 0);
	transition-duration: .6s, .4s;
}

.ai-element1:hover::before,
.ai-element1:hover::after,
.ai-element1:hover .ai-element__label::before,
.ai-element1:hover .ai-element__label::after{
	transition-duration: .25s;
}

.ai-element1:hover::before{
	transform: translate3d(-105%, 0, 0);
}

.ai-element1:hover::after{
	transform: translate3d(105%, 0, 0);
}

.ai-element1:hover .ai-element__label::before{
	transform: translate3d(0%, -100%, 0);
}

.ai-element1:hover .ai-element__label::after{
	transform: translate3d(0%, 100%, 0);
}

.ai-element1::before,
.ai-element1::after,
.ai-element1 .ai-element__label::before,
.ai-element1 .ai-element__label::after{
	transform: translate3d(0, 0, 0);
	transition-duration: .6s, .4s;
}

.ai-element1:hover::before,
.ai-element1:hover::after,
.ai-element1:hover .ai-element__label::before,
.ai-element1:hover .ai-element__label::after{
	transition-duration: .25s;
}

.ai-element1:hover::before{
	transform: translate3d(-105%, 0, 0);
}

.ai-element1:hover::after{
	transform: translate3d(105%, 0, 0);
}

.ai-element1:hover .ai-element__label::before{
	transform: translate3d(0%, -100%, 0);
}

.ai-element1:hover .ai-element__label::after{
	transform: translate3d(0%, 100%, 0);
}

/* effect 2 */

.ai-element2::after{
	transform: translate3d(0, 0, 0);
	transition: transform .2s ease-in;
}

.ai-element2:hover::after{
	transform: translate3d(-100%, 0, 0);
}




.ai-element1::before,
.ai-element1::after,
.ai-element1 .ai-element__label::before,
.ai-element1 .ai-element__label::after{
	transform: translate3d(0, 0, 0);
	transition-duration: .6s, .4s;
}

.ai-element1:hover::before,
.ai-element1:hover::after,
.ai-element1:hover .ai-element__label::before,
.ai-element1:hover .ai-element__label::after{
	transition-duration: .25s;
}

.ai-element1:hover::before{
	transform: translate3d(-105%, 0, 0);
}

.ai-element1:hover::after{
	transform: translate3d(105%, 0, 0);
}

.ai-element1:hover .ai-element__label::before{
	transform: translate3d(0%, -100%, 0);
}

.ai-element1:hover .ai-element__label::after{
	transform: translate3d(0%, 100%, 0);
}

.ai-element1::before,
.ai-element1::after,
.ai-element1 .ai-element__label::before,
.ai-element1 .ai-element__label::after{
	transform: translate3d(0, 0, 0);
	transition-duration: .6s, .4s;
}

.ai-element1:hover::before,
.ai-element1:hover::after,
.ai-element1:hover .ai-element__label::before,
.ai-element1:hover .ai-element__label::after{
	transition-duration: .25s;
}

.ai-element1:hover::before{
	transform: translate3d(-105%, 0, 0);
}

.ai-element1:hover::after{
	transform: translate3d(105%, 0, 0);
}

.ai-element1:hover .ai-element__label::before{
	transform: translate3d(0%, -100%, 0);
}

.ai-element1:hover .ai-element__label::after{
	transform: translate3d(0%, 100%, 0);
}

/* effect 2 */

.ai-element2::after{
	transform: translate3d(0, 0, 0);
	transition: transform .2s ease-in;
}

.ai-element2:hover::after{
	transform: translate3d(-100%, 0, 0);
}




/* effect 3 */

.ai-element3::after{
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: transform .3s ease-out, opacity .3s ease-out;
}

.ai-element3:hover::after{
	opacity: 0;
	transform: translate3d(0, 100%, 0);
}

/* effect 4 */

.ai-element4::before,
.ai-element4::after,
.ai-element4 .ai-element__label::before,
.ai-element4 .ai-element__label::after{
	transition-timing-function: ease-out;
	transition-duration: .2s, .2s;
	transform: translate3d(0, 0, 0);
}

.ai-element4:hover::before,
.ai-element4:hover::after,
.ai-element4:hover .ai-element__label::before,
.ai-element4:hover .ai-element__label::after{
	transition-delay: 0s, .05s;
}

.ai-element4:hover::before{
	transform: translate3d(-100%, 0, 0);
}

.ai-element4:hover::after{
	transform: translate3d(100%, 0, 0);
}

.ai-element4:hover .ai-element__label::before{
	transform: translate3d(0, 100%, 0);
}

.ai-element4:hover .ai-element__label::after{
	transform: translate3d(0, -100%, 0);
}

/* effect 5 */

.ai-element5::before,
.ai-element5::after,
.ai-element5 .ai-element__label::before,
.ai-element5 .ai-element__label::after{
	transition-duration: .2s;
	transition-timing-function: ease-out;
	transform: translate3d(0, 0, 0);
}

.ai-element5::before,
.ai-element5::after{
	width: 100%;
	height: var(--uiaiElementLineWeight);
	left: 0;
}

.ai-element5 .ai-element__label::before,
.ai-element5 .ai-element__label::after{
	width: var(--uiaiElementLineWeight);
	height: 100%;
	top: 0;
}

.ai-element5::before{
	top: 0;
}

.ai-element5::after{
	bottom: 0;
}

.ai-element5 .ai-element__label::before{
	left: 0;
}

.ai-element5 .ai-element__label::after{
	right: 0;
}

.ai-element5:hover::before,
.ai-element5:hover .ai-element__label::before{
	transition-delay: 0s;
}

.ai-element5::after,
.ai-element5:hover .ai-element__label::after{
	transition-delay: .25s;
}

.ai-element5 .ai-element__label::after,
.ai-element5:hover::after{
	transition-delay: .15s;
}

.ai-element5 .ai-element__label::before,
.ai-element5:hover::before{
	transition-delay: .35s;
}

.ai-element5:hover::before{
	transform: translate3d(-105%, 0, 0);
}

.ai-element5:hover::after{
	transform: translate3d(105%, 0, 0);
}

.ai-element5:hover .ai-element__label::before{
	transform: translate3d(0, 105%, 0);
}

.ai-element5:hover .ai-element__label::after{
	transform: translate3d(0, -105%, 0);
}

/* effect 6 */

.ai-element6::before,
.ai-element6::after{
	width: 50%;
	height: 100%;
	top: 0;
	transform: translate3d(0, 0, 0);
}

.ai-element6::before{
	left: 0;
}

.ai-element6::after{
	right: 0;
}

.ai-element6:hover::before{
	transform: translate3d(-100%, 0, 0);
}

.ai-element6:hover::after{
	transform: translate3d(100%, 0, 0);
}

/* effect 7 */

.ai-element7::before,
.ai-element7::after{
	width: 100%;
	height: 50%;
	left: 0;
	transform: translate3d(0, 0, 0);
}

.ai-element7::before{
	top: 0;
}

.ai-element7::after{
	bottom: 0;
}

.ai-element7:hover::before{
	transform: translate3d(0, -50%, 0);
}

.ai-element7:hover::after{
	transform: translate3d(0, 50%, 0);
}

/* effect 8 */

.ai-element8::before,
.ai-element8::after{
	width: 51%;
	height: 100%;
	transform: rotate(0);
	top: 0;
}

.ai-element8::before{
	left: 0;
}

.ai-element8::after{
	right: 0;
}

.ai-element8:hover::before,
.ai-element8:hover::after{
	transform: rotate(360deg);
}

/* effect 9 */

.ai-element9::before,
.ai-element9::after{
	width: 51%;
	height: 100%;
	top: 0;
	transform: translate3d(0, 0, 0);
}

.ai-element9::before{
	left: 0;
}

.ai-element9::after{
	right: 0;
}

.ai-element9:hover::before{
	transform: translate3d(-100%, 0, 0) rotate(-45deg);
}

.ai-element9:hover::after{
	transform: translate3d(100%, 0, 0) rotate(-45deg);
}

/*
=====
DEMO STYLES
=====
*/

body{
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
  font-size: 16px;
  margin: 0;
}

.section{
  display: flex;
  min-height: 300px;
  text-align: center;

  font-size: 17px;
  font-weight: 700;
}

.section:nth-child(2n+1){
}

.section__item{
  margin: auto;
}

.section__box:nth-child(n+2){
  margin-top: 40px;
}

.ai-element__label{
	--uiaiElementColorHover: var(--aiElementColorHover);
	font-weight: 700;
	text-transform: uppercase;
}

.ai-element:hover .ai-element__label{
	color: var(--uiaiElementColorHover);
}

// Carousel
$t: 2.5s;
$e1: cubic-bezier(0.8, 0.00, 0.1, 1);
$e2: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$er: linear;

$color: hsl(15,75%,40%);
$font: 'Abril Fatface', sans-serif;

$slides: 4;
$images: url(https://unsplash.it/g/1500/2200?image=838) url(https://unsplash.it/g/1500/1000?image=1078) url(https://unsplash.it/g/1500/1000?image=1077)  url(https://unsplash.it/g/1500/1200?image=345);

html, body{
	width: 100vw;
	height: 100vh;
}

.untitled{
	position: absolute;
	height: 100%;
	width: 100%;
	@keyframes rotateHue {
		0%{ filter: hue-rotate(0deg); }
		20%{ filter: hue-rotate(0deg); }
		25%{ filter: hue-rotate(90deg); }
		45%{ filter: hue-rotate(90deg); }
		50%{ filter: hue-rotate(180deg); }
		70%{ filter: hue-rotate(180deg); }
		75%{ filter: hue-rotate(270deg); }
		95%{ filter: hue-rotate(270deg); }
		100%{ filter: hue-rotate(360deg); }
	}
	animation: rotateHue infinite $t*$slides*2 linear;
	animation-delay: $t/4;

	&__shutters{
		position: absolute;
		height: 150vmax;
		width: 150vmax;
		left: calc(50% - 75vmax);
		top: calc(50% - 75vmax);
		pointer-events: none;
		z-index: 2;
		@keyframes rotateFrame{
			0%{ transform: rotate(0deg);}
			100%{ transform: rotate(180deg);}
		}
		animation: rotateFrame $t*4 $er infinite;

		&:before, &:after{
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
			background-color: $color;
			pointer-events: auto;
		}
		&:before{
			bottom: 50%;
			@keyframes openTop{
				0%{ transform: translate3d(-50%, 0, 0); animation-timing-function: $e1; }
				40%{ transform: translate3d(-50%, -65vmax, 0); animation-timing-functon: $e2; }
				70%{ transform: translate3d(-50%, -65vmax, 0); animation-timing-functon: $e2; }
				100%{ transform: translate3d(-50%, 0, 0); animation-timing-function: $e2; }
			}
			animation: openTop $t*2 infinite;
		}
		&:after{
			top: 50%;
			@keyframes openBottom{
				0%{ transform: translate3d(-50%, 0, 0); animation-timing-function: $e1; }
				40%{ transform: translate3d(-50%, 65vmax, 0); animation-timing-functon: $e2; }
				70%{ transform: translate3d(-50%, 65vmax, 0); animation-timing-functon: $e2; }
				100%{ transform: translate3d(-50%, 0, 0); animation-timing-function: $e2; }
			}
			animation: openBottom $t*2 infinite;
		}
	}

	&__slides{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: $color;
    overflow:hidden;
	}
	&__slide{
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
    overflow:hidden;
		@keyframes showHideSlide{
			0%{
				opacity: 1;
				pointer-events: auto;
				z-index: 1;
			}
			#{100% / $slides}{
				opacity: 0;
				pointer-events: none;
				z-index: -1;
			}
			100%{
				opacity: 0;
				pointer-events: none;
				z-index: -1;
			}
		}
		animation: showHideSlide infinite $t*$slides*2 steps(1);
		@for $i from 1 through $slides{
			&:nth-child(#{$i}){
				animation-delay: $t * ($i - 1) * 2;
				.untitled__slideBg{
					background-image: nth($images, $i);
				}
			}
		}
	}
	&__slideBg{
		position: relative;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		background-color: $color;
		background-blend-mode: hard-light;
		opacity: 1;
		z-index: -1;
		@keyframes bgInOut{
			0%{ transform: rotate(-45deg) scale(1.1); animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);}
			33%{ transform: rotate(0deg);}
			50%{ transform: rotate(0deg); }
			66%{ transform: rotate(0deg); animation-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220); }
			100%{ transform: rotate(45deg) scale(0.9);}
		}
		animation: bgInOut $t*4 -$t*2 infinite;
	}
	&__slideContent{
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
		color: white;
		font-family: $font;
		line-height: 0.8;
		letter-spacing: -0.025em;
		z-index: 2;
		opacity: 1;
		text-shadow: 0 0 0.5em rgba($color,0.25);
		mix-blend-mode: lighten;
		span{
			display: block;
      float: center;
	    width: 1200px;
      text-align: center;
			font-size: 15vmin;
      margin-bottom: 10px;
		}
    a {
      display: block;
      float: center;
	    width: 1200px;
      text-align: center;
			font-size: 4vmin;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    p {
      display: block;
      float: center;
	    width: 1200px;
      text-align: center;
      color: white;
      text-decoration: underline;
			font-size: 4vmin;
    }
	}
  &__slideContent2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    color: white;
    font-family: $font;
    line-height: 0.8;
    letter-spacing: -0.025em;
    z-index: 2;
    opacity: 1;
    text-shadow: 0 0 0.5em rgba($color,0.25);
    mix-blend-mode: lighten;
    span{
      display: block;
      float: center;
      width: 1200px;
      text-align: center;
      font-size: 15vmin;
      margin-bottom: 10px;
    }
    a {
      display: block;
      float: center;
      width: 1200px;
      text-align: center;
      font-size: 4vmin;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    p {
      display: block;
      float: center;
      width: 1200px;
      text-align: center;
      color: white;
      text-decoration: underline;
      font-size: 4vmin;
    }
  }
}
.button{
	font-family:'Roboto Mono', sans-serif;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2vmin;
	display: inline-block;
	position: relative;
	border: 3px solid white;
	box-shadow: -0.5vmin 0.5vmin 0 rgba(white, 0.5);
	background: transparent;
	margin-top: 5vmin;
	mix-blend-mode: lighten;
	color: white;
	padding: 2vmin 2vmin 1.8vmin 2vmin;
	letter-spacing: 0.1em;
	text-shadow: none;
	line-height: 1;
	transform: translate3d(0.5vmin, -0.5vmin, 0);
	transition: all 100ms linear;
	&:hover{
		transform: translate3d(1vmin, -1vmin, 0);
		box-shadow: -1vmin 1vmin 0 rgba(white, 0.5);
		background: white;
		color: black;
	}
	&:active{
		transform: translate3d(0px, 0px, 0);
		box-shadow: -0px 0px 0 rgba(white, 0.5);
	}
}



/*
=====
Match Page
=====
*/


$color: #000080;

.button {
    display: inline-block;
    padding: 2rem 5rem;
    border-radius: 10rem;
    color: #000080;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: scroll;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #000080;
        transition: all .3s;
        border-radius: 10rem;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

/* optional reset for presentation */
.matchlink * {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}
.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.matchlink h1 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #777;
}
.matchlink span {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;
  a {
    font-size: .7rem;
    color: #999;
    text-decoration: none;
  }
}

//LOADING ANIMATION

.ai-element{
	--aiElementLineWeight: 5px;
	--aiElementColor: #1b255a;
	--aiElementColorHover: #243aab;
  --aiElementLineColor: white;
}

.white2 {
  --aiElementLineColor: #000;
}

#blue {
  color: #0000e6;
  font-weight: 1000;
  a:visited,a:link {
    color: #0000e6;
  }
}

.blue2 {
  --aiElementLineColor: #0000e6;
}

.ai-element22{
	--aiElementLineWeight: 5px;
	--aiElementLineColor: #0000e6;
	--aiElementColor: #1b255a;
	--aiElementColorHover: #243aab;
}

.ai-element_type1,
.ai-element_type3{
	--aiElementPadding: 10px 15px;
}

.ai-element_type3{
	--aiElementColor: #fff;
}

@keyframes loader {
	0%, 10%, 100% {
		width: 80px;
		height: 80px;
	}
	65% {
		width: 150px;
		height: 150px;
	}
}
@keyframes loaderBlock {
	0%, 30% {
		transform: rotate(0);
	}
	55% {
		background-color: #F37272;
	}
	100% {
		transform: rotate(90deg);

	}
}
@keyframes loaderBlockInverse {
	0%, 20% {
		transform: rotate(0);
	}
	55% {
		background-color: #F37272;
	}
	100% {
		transform: rotate(-90deg);
	}
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%) rotate(45deg) translate3d(0,0,0);
	animation: loader 1.2s infinite ease-in-out;

	span {
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background-color: #EE4040;
		animation: loaderBlock 1.2s infinite ease-in-out both;

		&:nth-child(1) {
			top: 0;
			left: 0;
		}
		&:nth-child(2) {
			top: 0;
			right: 0;
			animation: loaderBlockInverse 1.2s infinite ease-in-out both;
		}
		&:nth-child(3) {
			bottom: 0;
			left: 0;
			animation: loaderBlockInverse 1.2s infinite ease-in-out both;
		}
		&:nth-child(4) {
			bottom: 0;
			right: 0;
		}
	}
}

.signup-form {
  background-color: red;
}
